/* navbar style */

.navbarContainer {
  display: flex;
  flex-direction: column;
  background-color: #fbf7e3;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 100px;
  margin: 1em;
  font-weight: 700;
  width: 90vh;
  height: 40vh;
}

.sideButton {
  background-color: #f3df85;
  border-radius: 50px;
  width: 40%;
  text-align: center;
  color: #612406;
}

.leftSideButton {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.rightSideButton {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.mainButton {
  background-color: #f3df85;
  display: flex;

  width: 80%;
  height: 30%;
  border-radius: 50px;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 25px;
  color: #612406;
  order: -1;
  margin-top: 1em;
}

.mainButton img {
  height: 50%;
  margin-right: 2em;
}

/* cards style */

.cardContainer {
  display: flex;
  background-color: #fbf7e3;
  flex-direction: column;
  align-items: center;
  min-width: 20vw;
  max-width: 40vw;
  border-radius: 80px;
  overflow: hidden;
}

.cardData {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 2rem;
}

.description {
  text-align: center;
}

div h1 {
  font-size: 25px;
  font-weight: 900;
  line-height: 0.5rem;
  color: #612406;
}

div h2 {
  font-size: 16px;
  line-height: 0.5rem;
  color: #612406;
}

div p {
  font-size: 20px;
  font-weight: 700;
  color: #612406;
}

.buttonRules {
  background-color: #f3df85;
  border-radius: 20px;
  margin-bottom: 1rem;
  width: 50%;
  height: 2rem;
  border: none;
}

/* flexarticle style */

.flexArtContainer {
  display: flex;
  background-color: #fbf7e3;
  margin: 1em;
  padding: 1.5em;
  border-radius: 30px;
  column-gap: 2em;
  color: #612406;
}
